body {
  font-family: Arial, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #f5f5f5;
}

#info-panel {
  position: fixed;
  z-index: 1000;
  top: auto;
  left: 10px;
  bottom: 10px;
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 300px;
  display: none;
  /* Панель скрыта по умолчанию */
}

#info-panel.active {
  display: block;
  /* Панель станет видимой, если добавлен класс "active" */
}

#info-panel h2 {
  font-size: 18px;
  margin: 0;
}

#info-panel img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 10px;
}

#info-panel p {
  font-size: 14px;
  color: #666;
  margin-top: 10px;
}

#close-info-panel {
  display: block;
  margin: 15px auto 0 auto;
  background: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

#close-info-panel:hover {
  background: #0056b3;
}

#tree-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

svg {
  touch-action: none;
  /* Для правильной обработки сенсорных событий */
}

.node circle {
  stroke: #555;
  stroke-width: 2;
}

.spouse-node circle {
  fill: #808080;
}

.node text {
  font-size: 12px;
  fill: #333;
  font-weight: bold;
}

.link {
  stroke: #ccc;
  stroke-width: 1.5;
}

/* Легенда */
#legend {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: fixed;
  bottom: 60px;
  right: 10px;
  background: white;
  padding: 10px 15px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  color: #333;
  z-index: 1100;
  /* Легенда перекрывает все окна */
  transition: transform 0.3s ease;
}

#legend .legend-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

#legend .legend-item:last-child {
  margin-bottom: 0;
  /* Удаляем отступ для последнего элемента */
}

#legend .color-box {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
}

#toggle-legend {
  display: none;
  /* Прячем чекбокс */
}

#legend-button {
  display: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  /* Кнопка легенды прижата к правому нижнему углу */
  background: #007bff;
  color: white;
  padding: 10px 15px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  z-index: 1200;
  /* Кнопка отображается поверх всех окон */
  cursor: pointer;
}

#legend {
  transform: translateY(140%);
  /* Скрываем легенду за пределы экрана */
}

#toggle-legend:checked~#legend {
  transform: translateY(0);
  /* Показываем легенду при выборе чекбокса */
}

#legend-button {
  display: block;
  /* Показываем кнопку на мобильных устройствах */
}

/* Меню */
#menu-panel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: fixed;
  top: 60px;
  left: 10px;
  background: white;
  padding: 10px 15px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  color: #333;
  z-index: 1200;
  /* Меню перекрывает все окна */
  transition: transform 0.3s ease;
  transform: translateX(-140%);
}

#menu-panel ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#menu-panel ul li {
  margin-bottom: 5px;
}

#menu-panel ul li:last-child {
  margin-bottom: 0;
  /* Удаляем отступ для последнего элемента */
}

#menu-panel ul li a {
  text-decoration: none;
  color: #007bff;
}

#menu-panel ul li a:hover {
  text-decoration: underline;
}

#toggle-menu {
  display: none;
  /* Прячем чекбокс */
}

#menu-button {
  display: block;
  position: fixed;
  top: 10px;
  left: 10px;
  background: #007bff;
  color: white;
  padding: 10px 15px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  z-index: 1200;
  /* Кнопка отображается поверх всех окон */
  cursor: pointer;
}

#toggle-menu:checked~#menu-panel {
  transform: translateX(0);
  /* Показываем меню при выборе чекбокса */
}